# IP do servidor da aplicação (Zabbix server) - único IP liberado no PostgreSQL
ZBX_APP_IP=10.0.0.20

# Senha do usuário do banco - use a MESMA no .env do servidor da aplicação
ZBX_DB_PASS=sua_senha_aqui

ZBX_DB_NAME=zabbix
ZBX_DB_USER=zabbix
ZBX_DB_PORT=5432
ZBX_TZ=America/Sao_Paulo
